:root {
  --menu-base-bg-color: #2f72a1;
  --select-item-bg-color: #579ed1;
  --select-item-hover-color: #8fd0ff;
  --menu-base-fg-color: #ffffffe8;
  --menu-border-color: #275b80;
  --button-hover-color: rgba(0,0,0,0.4);
  --radius: 4px;
  --hamburger-menu-width: 20rem;
  --hamburger-menu-rows: 12;
}

.App {
  text-align: center;
  display: grid;
  grid-template-areas: 
    "menu menu"
    "body body"
    "footer footer";
}

.bodyContainer {
  display: grid;
  grid-area: body;
  grid-template:
    "basicSelect" 1fr
    "customSelect" 1fr / 100%;
}